/*DEFINICOES GERAIS*/

*{
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, p{
  font-family: 'Roboto', sans-serif;
  color: #2A3D54;
}
h1{
  font-size: 40px;
  text-transform: uppercase;
}
h2 {
  font-size: 25px;
  text-transform: uppercase;
}
h3{
  font-size: 20px;
    text-transform: uppercase;
}

.top {
  background-image: url('../img/bg.jpg');
  background-repeat: repeat-x;
  background-position: 0 -1026px;
}

.top .perfil{
  background-color: #EA285B;
  height: 228px;
  display: inline-block;
  margin: 2em auto;
}

.top .perfil img{
  opacity: .3; 
  margin: 
}
.top h1, .top h2{
  text-align: center;
}

.top h1{
  margin-top: 1em;
}



footer{
  background-color: lightgray;
  border-left: 15px solid #EA285B;
}
li{
  display: inline;
}
